#countLabel{
    display: inline-block;
    text-align: center;
    font-size: 10em;
    font-family:Arial, Helvetica, sans-serif
}
#btnContainer{
    text-align: center;
    margin-top: 20px;
}
.buttons{
    padding: 15px 32px;
    font-size: 16px;
    margin: 4px 2px;
    color: white;
    background-color: hsl(214, 100%, 74%);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s easeS;
}